.register-container {
  display: flex;
  height: 100vh;
}

.register-image {
  width: 30%;
  height: 100%;
  background-image: url(../assets/images/img-6.jpg);
  background-position: center;
  background-size: cover;
  min-width: 500px;
}

.register-form-container {
  width: 70%;
  padding: 20px;
  background-color: white;
}

.register-form {
  max-width: 500px;
}

.register-form h1 {
  text-align: center;
}

.register-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.register-form button {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
}

.register-form a {
  color: #999;
  text-decoration: none;
  font-size: 12px;
}

.redirect-login {
  margin-top: 10px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 1046px) {
  .register-image {
    display: none;
  }
  .register-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
